<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <h1>Home Page</h1>

        <div class="links-div">
            <% if(user) { %>
                <a href="/join-the-club">Join the Club</a> <a href="/log-out">Logout</a>
                <% } else { %>
                    <a href="/log-in">Login</a> <a href="/sign-up">Register</a>
                    <% } %>
        </div>

        <div class="messages-div">
            <% if(user) { %>
                <div class="message-links-div">
                    <a href="/add-message">Add Message</a>
                </div>
                <% } %>
                    <div class="message-container">
                        <% if (messages.length> 0) { %>
                            <% messages.forEach(function(message) { %>
                                <div class="card" style="width: 72rem; margin-bottom: 20px;">
                                    <div class="card-body">

                                        <h5 class="card-title">
                                            <%= message.message %>
                                        </h5>


                                        <% if(message.createdby) {%>
                                            <h6 class="card-subtitle mb-2 text-body-secondary"> -created by: <%=
                                                    message.createdby %>
                                            </h6>
                                            <% } %>
                                                <% if(message.createdat) {%>
                                                    <p class="card-text">
                                                        at: <%= message.createdat %>
                                                    </p>
                                                    <% } %>

                                                        <% if(user) { %>
                                                            <a href="/delete-message/<%=message.id%>"
                                                                class="card-link">Delete</a>
                                                            <% } %>
                                    </div>
                                </div>


                                <% }) %>
                                    <% } else { %>
                                        <div>
                                            <p>No messages to display.</p>
                                            <!-- <h4>You have visited this page  times...</h4> -->
                                        </div>
                                        <% } %>
                    </div>


        </div>
    </div>
</body>

</html>